{#
/**
 * @file
 * Template for the main page.
 */
#}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ page.navbar_branding }}
    </div>

    <div class="collapse navbar-collapse">
      {% if page.navbar_left %}
        <div class="navbar-left">
          {{ page.navbar_left }}
        </div>
      {% endif %}

      {% if page.navbar_right %}
        <div class="navbar-right">
          {{ page.navbar_right }}
        </div>
      {% endif %}
    </div>
  </div>
</nav>

<main role="main">
  <div class="container">
    {{ page.content }}
  </div>
</main>

{% if page.footer %}
  <footer role="footer">
    <div class="container">
        {{ page.footer }}
    </div>
  </footer>
{% endif %}
