{#
/**
 * @file panels-pane.tpl.php
 * Main panel pane template
 *
 * Variables available:
 * - $pane->type: the content type inside this pane
 * - $pane->subtype: The subtype, if applicable. If a view it will be the
 *   view name; if a node it will be the nid, etc.
 * - $title: The title of the content
 * - $content: The actual content
 * - $links: Any links associated with the content
 * - $more: An optional 'more' link (destination only)
 * - $admin_links: Administrative links associated with the content
 * - $feeds: Any feed icons or associated with the content
 * - $display: The complete panels display object containing all kinds of
 *   data including the contexts and all of the other panes being displayed.
 */#}
{% if pane_prefix %}
  {{ pane_prefix }}
{% endif %}
<div class="{{ classes }}" {{ id }}>
  {% if admin_links %}
    {{ admin_links }}
  {% endif %}

  {{ title_prefix }}
  {% if title %}
    <h4{{ title_attributes }}>{{ title }}</h4>
  {% endif %}
  {{ title_suffix }}

  {% if feeds %}
    <div class="feed">
      {{ feeds }}
    </div>
  {% endif %}

  <div class="pane-content">
    {{ content }}
  </div>

  {% if links %}
    <div class="links">
      {{ links }}
    </div>
  {% endif %}

  {% if more %}
    <div class="more-link">
      {{ more }}
    </div>
  {% endif %}
</div>
{% if pane_suffix %}
  {{ pane_suffix }}
{% endif %}
