{#
/**
 * @file
 * Radix theme implementation to display a node.
 *
 * @see template_preprocess()
 * @see template_preprocess_node()
 * @see template_process()
 *
 * @ingroup themeable
 */#}
<article id="node-{{ node.nid }}" class="{{ classes }} clearfix"{{ attributes }}>

  {{ user_picture }}

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ node_url }}">{{ title }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <div class="submitted">
      {{ submitted }}
    </div>
  {% endif %}

  <div class="content"{{ content_attributes }}>
    {#
// We hide the comments and links now so that we can render them later.
#}      {% hide(content.comments) %}
      {% hide(content.links) %}
      {{ content }}
  </div>

  {{ content.links }}

  {{ content.comments }}

</article>
